.left-column {
    float: left;
    width: 31.5%;
    max-width: 31.5%;
    background-color: var(--color-10);
    padding: var(--spacing);
    gap: calc(var(--spacing) * 1.5);
}

.left-column :is(h2, .h2, h3, .h3) {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 0;
    margin-bottom: 0.75em;
}

.left-column :not(#information) :is(h2, .h2, h3, .h3) {
    margin-top: 1mm;
}

.left-column :is(h2, .h2) {
    font-size: 14pt;
    opacity: 0.75;
    font-weight: 800;
}

.left-column :is(h3, .h3) {
    font-size: 10pt;
    opacity: 0.5;
    font-weight: 700;
}

.left-column .list .subpart ul:not(:last-child),
.left-column .subpart ul:not(:last-child) {
    margin-bottom: calc(var(--spacing) * 0.75);
}

.left-column .list .subpart li,
.left-column .subpart li {
    display: flex;
    flex-flow: row nowrap;
    align-items: self-start;
    line-height: 1.5;
}

.left-column .list .subpart li:not(:last-child),
.left-column .subpart li:not(:last-child) {
    margin-block-end: 1mm;
}

.left-column .list .subpart li::before,
.left-column .subpart li::before {
    display: inline-block;
    content: attr(symbol);
    font-size: 1em;
    line-height: 1.5;
    min-width: 8mm;
}

.left-column .list .subpart li *,
.left-column .subpart li * {
    display: inline-block;
    color: var(--color-80);
}

html[lang="ja"] .left-column .list .subpart li *,
html[lang="ja"] .left-column .subpart li * {
    font-size: 9pt;
}

.left-column .list .subpart li *::first-line,
.left-column .subpart li *::first-line {
    color: var(--currentColor);
}

.left-column .parts .list {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing);
}
