.information {
    background-color: var(--color-10);
    padding: var(--spacing);
    border-radius: var(--corner-radius);
}

.information :is(h1,h2, h3, h4,.h1,.h2,.h3,.h4, p) {
    margin: 0;
}

.information :is(h3,.h3) {
    font-weight: 400;
}

.information :is(#role-title, #role-subtitle) {
    margin-bottom: 0.2em;
}

.information #role {
    margin-block-end: 1em;
}

.information .details {
    margin-block-start: 0.75em;
    line-height: 1.5;
    margin-block-end: 1em;
}
