.projects {
    width: 100%;
}

.projects .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-spacing);
}

.projects .grid > a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: var(--color-10);
    padding: calc(var(--spacing) / 2);
    border-radius: var(--corner-radius);
    position: relative;
    max-width: 100%;
    gap: calc(var(--spacing) / 2);
}

.projects .grid > a :is(h3,h4,.h3,.h4) {
    margin: 0;
}

.projects .grid > a img {
    display: block;
    aspect-ratio: 1/1;
    height: 10mm;
    width: 10mm;
    border-radius: 1mm;
    position: relative;
}

.projects .grid > a .details {
    flex: 1 1 auto;
}

.projects .grid > a .details .subtitle {
    font-weight: 500;
}

.project-icon-wrapper {
    margin: 0;
}
