@font-face {
    font-family: "Cupertino Pro";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('./resources/fonts/Cupertino-Pro.woff2') format('woff2');
}

@font-face {
    font-family: "Cupertino Pro";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('./resources/fonts/Cupertino-Pro-Italic.woff2') format('woff2');
}

:root {

    font-weight: var(--base-font-weight);
    font-size: var(--base-font-size);
    font-family: var(--base-font-family);
    line-height: var(--base-line-height);

    -webkit-font-feature-settings: "kern" 1,
        "liga" 1,
        "calt" 1,
        "dlig" 1,
        "ccmp" 1,
        "wght" var(--base-font-weight);
    -moz-font-feature-settings: "kern" 1,
        "liga" 1,
        "calt" 1,
        "dlig" 1,
        "ccmp" 1,
        "wght" var(--base-font-weight);
    -o-font-feature-settings: "kern" 1,
        "liga" 1,
        "calt" 1,
        "dlig" 1,
        "ccmp" 1,
        "wght" var(--base-font-weight);
    font-feature-settings: "kern" 1,
        "liga" 1,
        "calt" 1,
        "dlig" 1,
        "ccmp" 1,
        "wght" var(--base-font-weight);
    font-kerning: normal;

	text-rendering: optimizeLegibility;
    font-optical-sizing: auto;

    -webkit-font-size-adjust: 100%;
    font-size-adjust: 100%;

    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    font-smooth: auto;

    hyphens: auto;

	vertical-align: baseline;
	word-spacing: normal;
}
