@font-face {
	font-family:'Cupertino Display';
	font-style:normal;
	font-weight:100;
    font-display: swap;
	src:url("/resources/fonts/CupertinoDisplay-ultralight.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Display';
	font-style:italic;
	font-weight:100;
    font-display: swap;
	src:url("/resources/fonts/CupertinoDisplay-ultralight-italic.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Display';
	font-style:normal;
	font-weight:200;
    font-display: swap;
	src:url("/resources/fonts/CupertinoDisplay-thin.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Display';
	font-style:italic;
	font-weight:200;
    font-display: swap;
	src:url("/resources/fonts/CupertinoDisplay-thin-italic.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Display';
	font-style:normal;
	font-weight:300;
    font-display: swap;
	src:url("/resources/fonts/CupertinoDisplay-light.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Display';
	font-style:italic;
	font-weight:300;
    font-display: swap;
	src:url("/resources/fonts/CupertinoDisplay-light-italic.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Display';
	font-style:italic;
	font-weight:400;
    font-display: swap;
	src:url("/resources/fonts/CupertinoDisplay-regular-italic.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Display';
	font-style:normal;
	font-weight:500;
    font-display: swap;
	src:url("/resources/fonts/CupertinoDisplay-medium.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Display';
	font-style:italic;
	font-weight:500;
    font-display: swap;
	src:url("/resources/fonts/CupertinoDisplay-medium-italic.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Display';
	font-style:normal;
	font-weight:600;
    font-display: swap;
	src:url("/resources/fonts/CupertinoDisplay-semibold.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Display';
	font-style:italic;
	font-weight:600;
    font-display: swap;
	src:url("/resources/fonts/CupertinoDisplay-semibold-italic.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Display';
	font-style:normal;
	font-weight:700;
    font-display: swap;
	src:url("/resources/fonts/CupertinoDisplay-bold.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Display';
	font-style:italic;
	font-weight:700;
    font-display: swap;
	src:url("/resources/fonts/CupertinoDisplay-bold-italic.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Display';
	font-style:normal;
	font-weight:800;
    font-display: swap;
	src:url("/resources/fonts/CupertinoDisplay-heavy.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Display';
	font-style:italic;
	font-weight:800;
    font-display: swap;
	src:url("/resources/fonts/CupertinoDisplay-heavy-italic.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Display';
	font-style:normal;
	font-weight:900;
    font-display: swap;
	src:url("/resources/fonts/CupertinoDisplay-black.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Display';
	font-style:italic;
	font-weight:900;
    font-display: swap;
	src:url("/resources/fonts/CupertinoDisplay-black-italic.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Display';
	font-style:normal;
	font-weight:400;
    font-display: swap;
	src:url("/resources/fonts/CupertinoDisplay-regular.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Text';
	font-style:normal;
	font-weight:100;
    font-display: swap;
	src:url("/resources/fonts/CupertinoText-ultralight.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Text';
	font-style:italic;
	font-weight:100;
    font-display: swap;
	src:url("/resources/fonts/CupertinoText-ultralight-italic.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Text';
	font-style:normal;
	font-weight:200;
    font-display: swap;
	src:url("/resources/fonts/CupertinoText-thin.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Text';
	font-style:italic;
	font-weight:200;
    font-display: swap;
	src:url("/resources/fonts/CupertinoText-thin-italic.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Text';
	font-style:normal;
	font-weight:300;
    font-display: swap;
	src:url("/resources/fonts/CupertinoText-light.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Text';
	font-style:italic;
	font-weight:300;
    font-display: swap;
	src:url("/resources/fonts/CupertinoText-light-italic.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Text';
	font-style:italic;
	font-weight:400;
    font-display: swap;
	src:url("/resources/fonts/CupertinoText-regular-italic.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Text';
	font-style:normal;
	font-weight:500;
    font-display: swap;
	src:url("/resources/fonts/CupertinoText-medium.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Text';
	font-style:italic;
	font-weight:500;
    font-display: swap;
	src:url("/resources/fonts/CupertinoText-medium-italic.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Text';
	font-style:normal;
	font-weight:600;
    font-display: swap;
	src: url("/resources/fonts/CupertinoText-semibold.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Text';
	font-style:italic;
	font-weight:600;
    font-display: swap;
	src:url("/resources/fonts/CupertinoText-semibold-italic.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Text';
	font-style:normal;
	font-weight:700;
    font-display: swap;
	src:url("/resources/fonts/CupertinoText-bold.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Text';
	font-style:italic;
	font-weight:700;
    font-display: swap;
	src:url("/resources/fonts/CupertinoText-bold-italic.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Text';
	font-style:normal;
	font-weight:800;
    font-display: swap;
	src:url("/resources/fonts/CupertinoText-heavy.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Text';
	font-style:italic;
	font-weight:800;
    font-display: swap;
	src:url("/resources/fonts/CupertinoText-heavy-italic.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Text';
	font-style:normal;
	font-weight:900;
    font-display: swap;
	src:url("/resources/fonts/CupertinoText-black.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Text';
	font-style:italic;
	font-weight:900;
    font-display: swap;
	src:url("/resources/fonts/CupertinoText-black-italic.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Text';
	font-style:normal;
	font-weight:400;
    font-display: swap;
	src:url("/resources/fonts/CupertinoText-regular.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Icons';
	font-style:normal;
	font-weight:100;
    font-display: swap;
	src:url("/resources/fonts/CupertinoIcons-ultralight.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Icons';
	font-style:normal;
	font-weight:200;
    font-display: swap;
	src:url("/resources/fonts/CupertinoIcons-thin.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Icons';
	font-style:normal;
	font-weight:300;
    font-display: swap;
	src:url("/resources/fonts/CupertinoIcons-light.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Icons';
	font-style:normal;
	font-weight:500;
    font-display: swap;
	src:url("/resources/fonts/CupertinoIcons-medium.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Icons';
	font-style:normal;
	font-weight:600;
    font-display: swap;
	src:url("/resources/fonts/CupertinoIcons-semibold.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Icons';
	font-style:normal;
	font-weight:700;
    font-display: swap;
	src:url("/resources/fonts/CupertinoIcons-bold.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Icons';
	font-style:normal;
	font-weight:800;
    font-display: swap;
	src:url("/resources/fonts/CupertinoIcons-heavy.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Icons';
	font-style:normal;
	font-weight:900;
    font-display: swap;
	src: url("/resources/fonts/CupertinoIcons-black.woff2") format("woff2");
}

@font-face {
	font-family:'Cupertino Icons';
	font-style:normal;
	font-weight:400;
    font-display: swap;
	src: url("/resources/fonts/CupertinoIcons-regular.woff2") format("woff2");
}



@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src:url("/resources/fonts/Inter-Thin.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-Thin.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url("/resources/fonts/Inter-ThinItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-ThinItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("/resources/fonts/InterDisplay-Thin.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-Thin.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display";
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url("/resources/fonts/InterDisplay-ThinItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-ThinItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("/resources/fonts/Inter-ExtraLight.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-ExtraLight.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("/resources/fonts/Inter-ExtraLightItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-ExtraLightItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("/resources/fonts/InterDisplay-ExtraLight.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-ExtraLight.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display";
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("/resources/fonts/InterDisplay-ExtraLightItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-ExtraLightItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/resources/fonts/Inter-Light.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("/resources/fonts/Inter-LightItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-LightItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/resources/fonts/InterDisplay-Light.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("/resources/fonts/InterDisplay-LightItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-LightItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/resources/fonts/Inter-Regular.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/resources/fonts/Inter-Italic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/resources/fonts/InterDisplay-Regular.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/resources/fonts/InterDisplay-Italic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/resources/fonts/Inter-Medium.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("/resources/fonts/Inter-MediumItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-MediumItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/resources/fonts/InterDisplay-Medium.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("/resources/fonts/InterDisplay-MediumItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-MediumItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/resources/fonts/Inter-SemiBold.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("/resources/fonts/Inter-SemiBoldItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/resources/fonts/InterDisplay-SemiBold.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("/resources/fonts/InterDisplay-SemiBoldItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/resources/fonts/Inter-Bold.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/resources/fonts/Inter-BoldItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-BoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/resources/fonts/InterDisplay-Bold.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/resources/fonts/InterDisplay-BoldItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-BoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("/resources/fonts/Inter-ExtraBold.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-ExtraBold.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("/resources/fonts/Inter-ExtraBoldItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-ExtraBoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("/resources/fonts/InterDisplay-ExtraBold.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-ExtraBold.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display";
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("/resources/fonts/InterDisplay-ExtraBoldItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-ExtraBoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/resources/fonts/Inter-Black.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-Black.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("/resources/fonts/Inter-BlackItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/Inter-BlackItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/resources/fonts/InterDisplay-Black.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-Black.woff2") format("woff2");
}

@font-face {
    font-family: "Inter Display";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("/resources/fonts/InterDisplay-BlackItalic.woff2") format("woff2"),
        url("https://rsms.me/inter/font-files/InterDisplay-BlackItalic.woff2") format("woff2");
}

@font-face {
    font-family: SFPro;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../fonts/Cupertino-Pro.woff2') format('woff2');
}

@font-face {
    font-family: SFPro;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('../fonts/Cupertino-Pro-Italic.woff2') format('woff2');
}


@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/resources/fonts/InterVariable.woff2') format('woff2'),
        url("https://rsms.me/inter/font-files/InterVariable.woff2") format("woff2");
}

@font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/resources/fonts/InterVariable-Italic.woff2') format('woff2'),
        url("https://rsms.me/inter/font-files/InterVariable-Italic.woff2") format("woff2");
}

@font-face {
    font-family: 'Inter var';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/resources/fonts/InterVariable.woff2') format('woff2'),
        url("https://rsms.me/inter/font-files/InterVariable.woff2") format("woff2");
}

@font-face {
    font-family: 'Inter var';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/resources/fonts/InterVariable-Italic.woff') format('woff2'),
        url("https://rsms.me/inter/font-files/InterVariable-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/resources/fonts/JetBrainsMono-Thin.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/resources/fonts/JetBrainsMono-ThinItalic.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-ThinItalic.woff2") format("woff2");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/resources/fonts/JetBrainsMono-ExtraLight.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/resources/fonts/JetBrainsMono-ExtraLightItalic.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-ExtraLightItalic.woff2") format("woff2");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/resources/fonts/JetBrainsMono-Light.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/resources/fonts/JetBrainsMono-LightItalic.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/resources/fonts/JetBrainsMono-Regular.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/resources/fonts/JetBrainsMono-Italic.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/resources/fonts/JetBrainsMono-Medium.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/resources/fonts/JetBrainsMono-MediumItalic.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/resources/fonts/JetBrainsMono-SemiBold.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/resources/fonts/JetBrainsMono-SemiBoldItalic.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/resources/fonts/JetBrainsMono-Bold.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/resources/fonts/JetBrainsMono-BoldItalic.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/resources/fonts/JetBrainsMono-ExtraBold.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/resources/fonts/JetBrainsMono-ExtraBoldItalic.woff2") format("woff2"),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-ExtraBoldItalic.woff2") format("woff2");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: JetBrainsMonoVariable;
    font-style: normal;
    font-weight: 100 800;
    font-display: swap;
    src: url('/resources/fonts/JetBrainsMonoVariable.woff2') format('woff2'),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/variable/JetBrainsMono[wght].woff2") format("woff2");
}

@font-face {
    font-family: JetBrainsMonoVariable;
    font-style: italic;
    font-weight: 100 800;
    font-display: swap;
    src: url('/resources/fonts/JetBrainsMonoVariable-Italic.woff2') format('woff2'),
        url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/variable/JetBrainsMono-Italic[wght].woff2") format("woff2");
}

:root {

    font-weight: var(--base-font-weight);
    font-size: var(--base-font-size);
    font-family: var(--base-font-family);
    line-height: var(--base-line-height);

    -webkit-font-feature-settings: "kern" 1,
        "liga" 1,
        "calt" 1,
        "dlig" 1,
        "ccmp" 1,
        "wght" var(--base-font-weight);
    -moz-font-feature-settings: "kern" 1,
        "liga" 1,
        "calt" 1,
        "dlig" 1,
        "ccmp" 1,
        "wght" var(--base-font-weight);
    -o-font-feature-settings: "kern" 1,
        "liga" 1,
        "calt" 1,
        "dlig" 1,
        "ccmp" 1,
        "wght" var(--base-font-weight);
    font-feature-settings: "kern" 1,
        "liga" 1,
        "calt" 1,
        "dlig" 1,
        "ccmp" 1,
        "wght" var(--base-font-weight);
    font-kerning: normal;

	text-rendering: optimizeLegibility;
    font-optical-sizing: auto;

    -webkit-font-size-adjust: 100%;
    font-size-adjust: 100%;

    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    font-smooth: auto;

    hyphens: auto;

	vertical-align: baseline;
	word-spacing: normal;
}
