.right-column {
    float: right;
    width: 68.5%;
    max-width: 68.5%;
    display: flex;
    flex-flow: column nowrap;
    padding: var(--spacing) var(--spacing) var(--spacing) var(--spacing);
    gap: var(--spacing);
    font-size: 1em;
    overflow-y: hidden;
}
